.Title-Cards1{
margin-top: 50px;
margin-bottom: 30px;

}

.Title-Cards1 h2{
 margin-bottom: 8px;
}

 .Card-List1{
    display: flex;
    gap: 10px;
    overflow-x: scroll;

}

.Card-List1::-webkit-scrollbar{
    display: none;
}

.Card-List1 img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.Card-List1 .Card1{
    position: relative;
}

.Card-List1 .Card1p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


@media (max-width:800px){
    .Title-Cards1{
     margin-top:20px;
     margin-bottom: 0;
    }

    .Title-Cards1 h2{
        font-size: 20px;
    }

    .Card-List1 img{
        width: 200px;
    }

    .Card-List1 p{
        font-size: 12px;
    }
}


@media (max-width:500px){

    .Title-Cards1 h2{
        font-size: 15px;
    }

    .Card-List1 img{
        width: 150px;
    }

    .Card-List1 p{
        font-size: 10px;
    }
}